<footer>
  <div class="footer-content">
    <app-logo></app-logo>
    <p>We are out to ease transportation. Our goal is to see you get to offices,
      holiday places, and every where
      in Hartberg in the earliest time possible. We are already achieving
      this and many more</p>

    <ul class="socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom clearfix">
    <div class="copyright">copyright &copy;{{year}} <span>HartbergCity</span>  </div>
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a routerlink="/" routerlinkactive="active">Home</a></li>
        <li><a routerlink="/" routerlinkactive="active" fragment="about">About</a></li>
        <li><a routerlink="/" routerlinkactive="active" fragment="contact">Contact</a></li>
        <li><a routerlink="/" routerlinkactive="active" href="#compute-location" fragment="compute-location">Compute</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active">Console</a></li>
      </ul>
    </div>
  </div>
</footer>
