<label id="label" aria-label="About Cookies"></label>
<div class="home-content">
  <app-mountain-city>
    <section class="landing-page">
      <div class="land-page-content-left">
        <h1 class="animate-character">Quickest & Cheapest Routes</h1>
        <p>
          Get the quickest and cheapest routes to wherever you want to go within Hartberg City.
        </p>
        <div class="button">
          <div id="circle"></div>
          <a href="#" routerlink="home" fragment="compute-location"
             aria-label="Click To Get Quickest And Cheapest Routes.">Start Now</a>
        </div>
      </div>
      <div class="land-page-content-right">
        <h1>Shortest Routes To Wherever</h1>
        <p>
          Now you can get the shortest route to wherever you are going with whatever transport.
        </p>
        <a href="#" routerlink="home" fragment="compute-location"
           aria-label="Click To Get Shortest Routes." mat-flat-button color="primary">
          Check Now
        </a>
      </div>
    </section>
  </app-mountain-city>
  <app-moving-circles id="about">
    <div class="about-content">
      <h1>About Hartberg</h1>
      <p>The City of Hartberg (Styria) in rural Austria currently has a rather lackluster public transport coverage. In
        detail, they have a local Citybus , regular Postbus public transport buses and a local train station.
        However, they currently experience a minor population influx and know that in the near future, their
        population will increase drastically (about 10% increase).  </p>
      <p>
        They would like to improve their current public
        transport network ahead of time, in order to allow new residents to commute to their workplaces using
        sustainable transport right from the start.
        A working group in the City government has now proposed a change of schedule forf the existing Citybus
        (from once an hour from 9:00 until 16:00 to twice per hour between 7:00 and 18:00).
      </p>
      <p>
        The working group
        thinks this will make the Citybus more attractive to commuters and has contacted triply in order to
        visualize and predict the potential impact of this change of schedule.
      </p>
    </div>
  </app-moving-circles>
  <section id="compute-location">
    <app-leaflet-map transportMode="angersiedlung_bike"></app-leaflet-map>
  </section>
  <section id="contact">
    <app-moving-car>
      <div class="contact-content">
        <h1>We'd Love To Hear From You!</h1>
        <div class="contact-us clearfix">
          <div class="left">
            <h2>Customer Support</h2>
            <p>You can easily reach our team for more enquires and join us as we make Hartberg a better city.</p>
            <hr/>
            <p>Call Us Now</p>
            <p>+13456789048, +175849494033, +134840303322</p>
            <hr/>
            <p>Or Email Us</p>
            <p>changing@HartbergCity.com</p>
            <hr/>
            <p>You can Also Fax</p>
            <p>465774884, 3839494003, 3389473929</p>
          </div>
          <div class="right">
            <h2>Our Locations</h2>
            <address>
              Massachusetts <a href="mailto:walessupport@hartbergcity.com">Office</a>.<br>
              Visit us at:<br>
              wales.hartberg.com<br>
              Box 564, Wales, Massachusetts,<br>
              United States Of America
            </address>
            <hr/>
            <address>
              Los Angeles <a href="mailto:webmaster@example.com">Office</a>.<br>
              Visit us at:<br>
              angeles.hartberg.com<br>
              Suite 964, Los Angeles<br>
              United States Of America
            </address>
            <hr/>
            <address>
              London <a href="mailto:webmaster@example.com">Office</a>.<br>
              Visit us at:<br>
              english.hartberg.com<br>
              Box 864, London<br>
              United Kingdom
            </address>
          </div>
        </div>
      </div>
    </app-moving-car>
  </section>
</div>
