<div class="page-not-found-content">
  <div class="center">
    <div class="page-main-content">
      <app-logo></app-logo>
      <hr/>
      <h1>Oops! Page not found!</h1>
      <p>You might have typed the wrong address. Kindly check
        the url bar again and correct it. Better still you can allow
        us navigate you back to the home page where you could use any of
        our valid addresses by just clicking on it. Thanks.</p>
    </div>
    <div class="button">
      <a routerlink="/" routerlinkactive="active">Back To Home Page</a>
    </div>
  </div>
</div>
